# compilation results #
#######################
*.o
*.a
*.bin
*.elf
*.hex
*.lst
*.map
deps

# Makefile target files #
#########################
dirs
program

# Eclipse & editor files #
#########################
.project
.cproject
*~
.*.swp

# Log files #
#############
openocd.log
